.cart-quantity {
    cursor: pointer;
    text-align: center;
    width: 25px;
    align-items: center;
    background-color: #0006;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
    width: 100px;
}

.cart-quantity-wrap {
    align-items: center;
    display: flex;
    justify-content: center;
}
